<%- include("../includes/base.ejs") %>
<link rel="stylesheet" href="/css/auth/login.css" />
<%- include("../includes/header.ejs") %>
<div
  class="flex justify-center flex-col w-full  p-4 h-full [&>*]:text-center"
>
  <h1 class="text-3xl">login</h1>
  <form
    action="/login"
    method="post"
    class="flex justify-center items-center flex-col " 
  >
    <input type="text" name="username" placeholder="username" class="input-form"/>
    <input type="password" name="password" placeholder="password" class="input-form"/>
    <input type="email" name="email" placeholder="email" class="input-form"/>
    <button type="submit" class="w-52 h-12 bg-[#41b9ff]">login</button>
  </form>
  <p class="text-xl text-[#4ab4fa]">
    Need an account? <a href="/signup">register here</a>
  </p>
</div>
<%- include("../includes/end.ejs") %>
