<%- include("../includes/base.ejs") %>
<link rel="stylesheet" href="/css/auth/login.css">
<%- include("../includes/header.ejs") %>
    <h1 class="text-3xl">login</h1>
    <form action="/login" method="post" class="bg-red-400 flex justify-center flex-col">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="email" name="email" placeholder="email">
    </form>
    <a href="/signup">Need an account? register here</a>
<%- include("../includes/end.ejs") %>