<%- include("../includes/base.ejs") %>
<link rel="stylesheet" href="/css/auth/login.css" />
<%- include("../includes/header.ejs") %>
<div class="msg-error-server h-12 w-1/2"></div>
<div class="flex justify-center items-center flex-col h-full">
    <form id="registerForm" action="/signup" method="post" class="flex-col flex justify-center items-center bg-slate-300 p-4 rounded-lg">
        <h1 class="text-3xl text-center">Register</h1>
        <div class=" form-group flex justify-center flex-col items-center">
          <input type="text" name="username" placeholder="username" class="input-form"/>
          <i class="msg-error"></i>
        </div>
        <div class=" form-group flex justify-center flex-col items-center">
          <input type="email" name="email" placeholder="email" class="input-form"/>
          <i class="msg-error"></i>
        </div>
        <div class=" form-group flex justify-center flex-col items-center">
          <input id="password" type="password" name="password" placeholder="password" class="input-form"/>
          <i class="msg-error"></i>
        </div>
        <div class=" form-group flex justify-center flex-col items-center">
          <input id="ConfPassword" type="password" name="passwordConf" placeholder="Confirm Password" class="input-form"/>
          <i class="msg-error"></i>
        </div>
        <button type="submit" class="w-52 h-12 bg-[#41b9ff]">signup</button>
        <p class="text-xl text-[#4ab4fa]">
          Already have an account?<a href="/login">Login here</a>
        </p>
      </form>
  </div>
  <script src="/js/auth/auth.js"></script>
  <%- include("../includes/end.ejs") %>
