</head>
<body class="bg-body">
    <div class="container h-screen grid grid-cols-container ">
        <header class="header__navigation flex flex-col items-center justify-start px-2 py-1">
            <div>
                <img src="/assets/images/profilePic.png" alt="profile default">
            </div>
            <nav class="flex flex-col items-start space-y-8 ">
                <a href="/home" class="header__navigation-link">
                    <img src="/assets/icon/nav/home.svg" alt="HOME" class="bg-[#1DA1F2] images__icons-nav">
                    <h2 class="text-lg font-semibold">Home</h2>
                </a>
                <a href="/search" class="header__navigation-link">
                    <img src="/assets/icon/nav/search.svg" alt="SEARCH" class="bg-[#2895F0] images__icons-nav">
                    <h2 class="text-lg font-semibold">Search</h2>
                </a>
            <% if(isAuth){ %>
                    <a href="/notifications" class="header__navigation-link">
                        <img src="/assets/icon/nav/notification.svg" alt="NOTIFICATION" class="bg-[#3BA9FE] images__icons-nav">
                        <h2 class="text-lg font-semibold">Notifications</h2>
                    </a>
                    <a href="/messages" class="header__navigation-link">
                        <img src="/assets/icon/nav/mail.svg" alt="MESSAGE" class="bg-[#47B3FD] images__icons-nav">
                        <h2 class="text-lg font-semibold">Messages</h2>
                    </a>
                    <a href="/profile" class="header__navigation-link">
                        <img src="/assets/icon/nav/user.svg" alt="USER" class="bg-[#54BFFF] images__icons-nav">
                        <h2 class="text-lg font-semibold">Profile</h2>
                    </a>
                    <a href="/auth/logout" class="header__navigation-link logout">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <img src="/assets/icon/utils/logout.svg" alt="LOGOUT" class="bg-[#6AC6FF] images__icons-nav">
                        <h2 class="text-lg font-semibold">Logout</h2>
                    </a>
            <% } else{%>
                    <a href="/auth/signup" class="header__navigation-link">
                        <img src="/assets/icon/utils/login.svg" alt="Signup" class="bg-[#6AC6FF] images__icons-nav">
                        <h2 class="text-lg font-semibold">Signup</h2>
                    </a>
            <% } %>
            </nav>
        </header>