</head>
<body class="bg-body">
    <div class="container h-screen grid grid-cols-container ">
        <header class="header__navigation flex flex-col items-center justify-start px-2 py-1">
            <!-- Profile User Section -->
            <div class="flex flex-col justify-center items-center bg-gray-800 rounded-lg p-8 shadow-lg">
                <!-- Profile User Default -->
                <div class="flex flex-col justify-center items-center">
                    <img id="profilePic" src="/assets/images/profilePic.png" alt="Profile Picture" class="w-32 h-32 rounded-full border-4 border-white">
                    <!-- User Name -->
                    <h2 id="username" class="font-Aktiv__regular text-xl mt-4 text-white">m__mdy__m</h2>
                    <!-- Bio -->
                    <p id="bio" class="text-center mt-2 text-gray-400">Passionate about technology, creativity, and making a positive impact. Let's connect and inspire each other!</p>
                </div>
                <!-- info user -->
                <div id="userInfo" class="flex gap-8 mt-6">
                    <!-- Posts -->
                    <div id="posts" class="text-center  text-white rounded-lg p-4">
                        <span class="text-lg font-bold">300</span>
                        <p class="text-sm">Posts</p>
                    </div>
                    <!-- Followers -->
                    <div id="followers" class="text-center  text-white rounded-lg p-4">
                        <span class="text-lg font-bold">182K</span>
                        <p class="text-sm">Followers</p>
                    </div>
                    <!-- Following -->
                    <div id="following" class="text-center  text-white rounded-lg p-4">
                        <span class="text-lg font-bold">1.04M</span>
                        <p class="text-sm">Following</p>
                    </div>
                </div>
            </div>
            <nav class="flex flex-col items-start space-y-8 ">
                <a href="/home" class="header__navigation-link">
                    <img src="/assets/icon/nav/home.svg" alt="HOME" class="bg-[#1DA1F2] images__icons-nav">
                    <h2 class="text-lg font-semibold text-white">Home</h2>
                </a>
                <a href="/search" class="header__navigation-link">
                    <img src="/assets/icon/nav/search.svg" alt="SEARCH" class="bg-[#2895F0] images__icons-nav">
                    <h2 class="text-lg font-semibold text-white">Search</h2>
                </a>
            <% if(isAuth){ %>
                    <a href="/notifications" class="header__navigation-link">
                        <img src="/assets/icon/nav/notification.svg" alt="NOTIFICATION" class="bg-[#3BA9FE] images__icons-nav">
                        <h2 class="text-lg font-semibold text-white">Notifications</h2>
                    </a>
                    <a href="/messages" class="header__navigation-link">
                        <img src="/assets/icon/nav/mail.svg" alt="MESSAGE" class="bg-[#47B3FD] images__icons-nav">
                        <h2 class="text-lg font-semibold text-white">Messages</h2>
                    </a>
                    <a href="/profile" class="header__navigation-link">
                        <img src="/assets/icon/nav/user.svg" alt="USER" class="bg-[#54BFFF] images__icons-nav">
                        <h2 class="text-lg font-semibold text-white">Profile</h2>
                    </a>
                    <a href="/auth/logout" class="header__navigation-link logout">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <img src="/assets/icon/utils/logout.svg" alt="LOGOUT" class="bg-[#6AC6FF] images__icons-nav">
                        <h2 class="text-lg font-semibold text-white">Logout</h2>
                    </a>
            <% } else{%>
                    <a href="/auth/signup" class="header__navigation-link">
                        <img src="/assets/icon/utils/login.svg" alt="Signup" class="bg-[#6AC6FF] images__icons-nav">
                        <h2 class="text-lg font-semibold text-white">Signup</h2>
                    </a>
            <% } %>
            </nav>
        </header>