</head>
<body class="bg-body">
    <div class="container h-screen grid grid-cols-container ">
        <header class="header__navigation bg-gradient-to-b from-[#0F141E] via-[#1D1F26] to-[#0F141E] flex flex-col items-center justify-start px-2 py-1">
            <%- include('./profile.ejs') %>
            <!-- navigation -->
            <nav class="flex w-full mt-1 h-full flex-col items-start space-y-4 p-2  rounded-lg shadow-lg">
                <!-- Home Link -->
                <a href="/home" class="header__navigation-link flex items-center space-x-4 transition duration-300 transform hover:scale-105">
                    <img src="/assets/icon/nav/home.svg" alt="HOME" class=" images__icons-nav">
                    <h2 class="text-lg font-semibold text-white">Home</h2>
                </a>
            <% if(isAuth){ %>
                    <!-- Notifications Link -->
                    <a href="/notifications" class="header__navigation-link  flex items-center space-x-4 transition duration-300 transform hover:scale-105">
                        <img src="/assets/icon/nav/notification.svg" alt="NOTIFICATION" class="images__icons-nav ">
                        <h2 class="text-lg font-semibold text-white">Notifications</h2>
                    </a>
                    <!-- Messages Link -->
                    <a href="/messages" class="header__navigation-link  flex items-center space-x-4 transition duration-300 transform hover:scale-105">
                        <img src="/assets/icon/nav/mail.svg" alt="MESSAGE" class="images__icons-nav">
                        <h2 class="text-lg font-semibold text-white">Messages</h2>
                    </a>
                    <!-- Setting Link -->
                    <a href="/setting" class="header__navigation-link  flex items-center space-x-4 transition duration-300 transform hover:scale-105">
                        <img src="/assets/icon/nav/setting.svg" alt="SETTING" class="images__icons-nav">
                        <h2 class="text-lg font-semibold text-white">Setting</h2>
                    </a>
                    <!-- Logout Link -->
                    <a href="/auth/logout" class="header__navigation-link logout flex items-center space-x-4 transition duration-300 transform hover:scale-105">
                        <img src="/assets/icon/utils/logout.svg" alt="LOGOUT" class="images__icons-nav">
                        <h2 class="text-lg font-semibold text-white">Logout</h2>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %> ">
                    </a>
            <% } else{%>
                    <!-- Signup Link -->
                    <a href="/auth/signup" class="header__navigation-link  flex items-center space-x-4 transition duration-300 transform hover:scale-105">
                        <img src="/assets/icon/utils/login.svg" alt="Signup" class="images__icons-nav ">
                        <h2 class="text-lg font-semibold text-white">Signup</h2>
                    </a>
            <% } %>
            </nav>
        </header>