</head>
<body class="bg-body">
    <div class="container mobile:m-0 tablet:m-auto h-screen grid grid-cols-container relative">
        <header class="">
            <div class="mobile:flex tablet:hidden" >
                <%- include('./header/mobile.ejs') %>
            </div>
            <div class=" mobile:hidden h-full tablet:flex header__navigation  bg-gradient-to-b from-[#0F141E] via-[#1D1F26] to-[#0F141E] flex flex-col items-center justify-start px-2 py-1">
                <%- include('./header/base.ejs',{isAuth:isAuth}) %>
            </div>
        </header>
