<!-- Profile User Section -->
<div class="flex flex-col justify-center items-center  rounded-lg p-8 ">
    <!-- Profile User Default -->
    <div class="flex flex-col justify-center items-center">
        <img id="profilePic" src="/assets/images/profilePic.png" alt="Profile Picture" class="w-32 h-32 rounded-full border-4 border-white">
        <!-- User Name -->
        <h2 id="username" class="font-Aktiv__regular text-xl mt-4 text-white">m__mdy__m</h2>
        <!-- Bio -->
        <p id="bio" class="text-center mt-2 text-gray-400">Passionate about technology, creativity, and making a positive impact. Let's connect and inspire each other!</p>
    </div>
    <!-- info user -->
    <div id="userInfo" class="flex gap-8 mt-6">
        <!-- Posts -->
        <div id="posts" class="text-center  text-white rounded-lg p-4">
            <span class="text-lg font-bold">300</span>
            <p class="text-sm">Posts</p>
        </div>
        <!-- Followers -->
        <div id="followers" class="text-center  text-white rounded-lg p-4">
            <span class="text-lg font-bold">182K</span>
            <p class="text-sm">Followers</p>
        </div>
        <!-- Following -->
        <div id="following" class="text-center  text-white rounded-lg p-4">
            <span class="text-lg font-bold">1.04M</span>
            <p class="text-sm">Following</p>
        </div>
    </div>
</div>