<!-- Profile User Section -->
<div class="flex flex-col items-center rounded-lg mobile:p-0 tablet:p-2 tablet:pt-0">
    <%- include('./layouts/user-profile.ejs') %>
    <%- include('./layouts/info.ejs') %>
</div>
