<%- include("includes/base.ejs") %>
<%- include("includes/header.ejs") %>
    <main>
        <!-- Your custom background divs -->
       <div class=""></div>
       <div class=""></div>
    </main>
<%- include("includes/end.ejs") %>
