<%- include("includes/base.ejs") %>
<link rel="stylesheet" href="/css/home.css">
<%- include("includes/header.ejs") %>
    <main>
        <!-- Your custom background divs -->
       <div class=""></div>
       <div class=""></div>
    </main>
<%- include("includes/end.ejs") %>
