<%- include("includes/base.ejs") %>
<link rel="stylesheet" href="/css/home.css">
<%- include("includes/header.ejs") %>
    <h1 class="text-slate-300">Welcome Home Mahdi</h1>
    
    <div class="wrapper__home-container">
        <div class="bg-red-600"></div>
        <div class="bg-green-600"></div>
        <div class="bg-blue-600"></div>
    </div>
<%- include("includes/end.ejs") %>
