<%- include("includes/base.ejs") %> <%- include("includes/header.ejs") %>
    <!-- BOX HOME -->
  <div class="grid grid-rows-home">
    <!-- Wrapper Story -->
    <div class="flex justify-start items-center w-full h-full px-4 py-3 border-b border-[#6b6a73]">
      <!-- Story Box -->
      <div class=" px-2 h-full flex justify-between pt-1 items-center flex-col ">
        <div class="bg-blue-500 rounded-full w-16 h-16 outline-dashed outline-[#3e3d46]">
          <img src="" alt=""> 
        </div>
        <h1 class="mt-1 text-sm font-mavis__bold text-[#f0f0f0]">add story</h1>
      </div>
    </div>
    <!-- Wrapper Posts -->
    <div class=""></div>
  </div>
  <!-- Wrapper Directs -->
  <div class="border-l border-[#28282a]"></div>
<%- include("includes/end.ejs") %>
