<%- include("includes/base.ejs") %> <%- include("includes/header.ejs") %>
<!-- BOX HOME -->
<div class="grid grid-rows-home ">
  <%- include('includes/home/section-stories.ejs',{src : '/assets/icon/nav/user.svg',UsernameStory:'m__mdy__m'}) %>
  <!-- Wrapper Posts -->
  <div class="pt-5 px-12">
    <!-- Post Box -->
    <div class="grid grid-rows-tweet min-h-32 rounded-2xl px-4 py-2 bg-[#111010]">
      <!-- up tweet section -->
      <div class="w-full h-full grid grid-cols-tweet">
        <!-- User Profile -->
        <div class="flex flex-col justify-center items-center">
          <div class="bg-gradient-to-tr from-[#222224] to-[#262629] rounded-full flex justify-center items-center border border-[#403e42] shadow-lg  cursor-pointer duration-100 transition-all hover:scale-105 ">
              <img src="/assets/images/profilePic.png" alt="" class="profilePic w-12 h-12">
          </div>
        </div>
        <!-- Tweet section -->
        <div class="flex justify-center items-center relative">
          <input type="text" placeholder="What's happening?" class="w-full bg-[#161617] px-1 py-2 border border-[#343435] text-gray-300 rounded-lg focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500">
          <!-- Absolute SVG icon -->
          <div class="absolute right-4 top-1/2 transform -translate-y-1/2">
            <svg width="24" height="24" class="h-6 w-6 cursor-pointer animate-opacity" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9813 4.0651C22.151 2.85824 21.141 1.849 19.9342 2.0187C13.0461 2.98731 7.59633 8.43705 6.62773 15.3252C6.5831 15.6426 6.62001 15.9464 6.72061 16.2186C6.72061 16.2186 6.72061 16.2187 6.72062 16.2187L1.46967 21.4696C1.17678 21.7625 1.17678 22.2374 1.46967 22.5303C1.76256 22.8231 2.23744 22.8231 2.53033 22.5303L7.78115 17.2794C8.05326 17.38 8.35686 17.4169 8.67411 17.3723C11.2473 17.0106 13.6198 16.0235 15.6329 14.5697C16.0381 14.2771 16.262 13.8 16.262 13.3002C16.262 12.3905 16.9995 11.653 17.9092 11.653C18.409 11.653 18.8861 11.4291 19.1787 11.0239C20.6325 9.01079 21.6196 6.6383 21.9813 4.0651ZM6.72062 16.2187C6.902 16.7095 7.29037 17.098 7.78115 17.2794V17.2794L12.5976 12.4629C12.8905 12.1701 12.8905 11.6952 12.5976 11.4023C12.3047 11.1094 11.8299 11.1094 11.537 11.4023L6.72062 16.2187Z" fill="#4D85F1"/>
            </svg>
          </div>
        </div>
      </div>
      <!-- Bottom tweet section -->
      <div class="w-full h-full flex justify-between items-center">
        <!-- Wrapper Icons  -->
        <div class="flex justify-start items-center [&>*]:cursor-pointer px-4">
        <!-- Tweet icons with hover animation -->
          <div class="mr-4 icon-container  transform transition duration-150 hover:scale-110">
            <img src="/assets/icon/twwets/circle.svg" alt="">
          </div>
          <div class="mr-4 icon-container  transform transition duration-150 hover:scale-110">
            <img src="/assets/icon/twwets/filter.svg" alt="">
          </div>
          <div class="mr-4 icon-container transform transition duration-150 hover:scale-110">
            <img src="/assets/icon/twwets/calendar.svg" alt="">
          </div>
          <div class="mr-4 icon-container  transform transition duration-150 hover:scale-110">
            <img src="/assets/icon/twwets/location.svg" alt="">
          </div>
          <div class=" icon-container transform transition duration-150 hover:scale-110">
            <img src="/assets/icon/twwets/information.svg" alt="">
          </div>
        </div>
        <!-- Wrapper Button Tweet -->
        <div class="flex justify-center items-center">
          <button type="button" class="px-3 py-1 rounded-lg text-white font-Aktiv__light  bg-gradient-to-r from-blue-500 to-purple-600 hover:from-blue-600 hover:to-purple-700 transition-colors duration-300 ease-in-out transform hover:scale-105 shadow-md focus:outline-none">
            Tweet
          </button>
        </div>
      </div>
    </div>
    <!-- Reading Posts -->
    <div class="w-full min-h-32 mt-4 rounded-2xl grid grid-rows-readTweet bg-[#111010] px-4 py-2">
      <div class="flex justify-between items-center">
        <!-- Wrapper info user -->
        <div class="flex justify-start items-center">
            <!-- User Profile -->
          <div class="bg-gradient-to-tr from-[#222224] to-[#262629] rounded-full flex justify-center items-center border border-[#403e42] shadow-lg  cursor-pointer duration-100 transition-all hover:scale-105 ">
            <img src="/assets/images/profilePic.png" alt="" class="profilePic w-8 h-8">
          </div>
          <div class="flex justify-center flex-col items-center h-full px-2">
              <!-- User name -->
              <div class="flex justify-center flex-col items-center">
                <h2 class="username font-Aktiv__regular text-xs  text-white">m__mdy__m</h2>
              </div>
              <!-- Time Published -->
              <div class="flex justify-center items-center text-xs text-gray-500">
                <p class="flex items-center space-x-1 font-mavis">
                    <em class="text-[#9e9ca1]">15</em>
                    <span class="text-[#9e9ca1]">Aug</span>
                    <span>•</span>
                    <span class="text-[#9e9ca1]">4:21</span>
                    <span class="text-[#9e9ca1] uppercase ml-1">PM</span>
                </p>
              </div>
          </div>
        </div>
        <!-- Setting Post -->
        <div class="flex justify-center items-center w-8 h-8 transition-transform cursor-pointer transform hover:scale-110">
          <svg class="hover:animate-pulse" width="80" height="80" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 12.25C5.5 12.9404 6.05964 13.5 6.75 13.5C7.44036 13.5 8 12.9404 8 12.25C8 11.5596 7.44036 11 6.75 11C6.05964 11 5.5 11.5596 5.5 12.25ZM11.75 13.5C11.0596 13.5 10.5 12.9404 10.5 12.25C10.5 11.5596 11.0596 11 11.75 11C12.4404 11 13 11.5596 13 12.25C13 12.9404 12.4404 13.5 11.75 13.5ZM16.75 13.5C16.0596 13.5 15.5 12.9404 15.5 12.25C15.5 11.5596 16.0596 11 16.75 11C17.4404 11 18 11.5596 18 12.25C18 12.9404 17.4404 13.5 16.75 13.5Z" fill="#e3e3e3"/>
          </svg>
        </div>
      </div>
      <!-- Wrapper Content Tweet -->
      <div class="bg-green-700 flex flex-col">
        <!-- Content -->
        <div class="flex w-full justify-center border-b border-red-600 p-4">
            Content Tweet
        </div>
        <!-- Info Tweet -->
        <div class="flex w-full justify-between items-center p-4 text-white">
            <!-- Comment -->
            <div class="flex items-center mr-4">
                <img src="/assets/icon/nav/chat-comment.svg" alt="comment">
            </div>
            <!-- Like -->
            <div class="flex items-center mr-4">
              <img src="/assets/icon/nav/heart-null.svg" alt="comment">
            </div>
            <!-- Retweet -->
            <div class="flex items-center mr-4">
              <img src="/assets/icon/nav/ReTweet.svg" alt="comment">
            </div>
            <!-- share -->
            <div class="flex items-center">
              <img src="/assets/icon/nav/share.svg" alt="comment">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Wrapper Directs -->
<div class="border-l border-[#28282a]"></div>
<%- include("includes/end.ejs") %>
