<%- include("includes/base.ejs") %>
<%- include("includes/header.ejs") %>
    <main class="grid grid-cols-main mt-4 mr-4 mb-4 bg-[#19191b]">
       <div class=""></div>
       <div class=""></div>
    </main>
<%- include("includes/end.ejs") %>
