<%- include("includes/base.ejs") %>
<link rel="stylesheet" href="/css/home.css">
<%- include("includes/header.ejs") %>
    <div class="wrapper__home-container">
        <div class="bg-red-600"></div>
        <div class="bg-green-600"></div>
        <div class="bg-blue-600 flex justify-start items items-center flex-col">
            <div class="flex items-center flex-col">
                <a href="/home" class="flex items-center text-white mr-4">
                    <img src="/assets/icon/nav/home.svg" alt="HOME" class="h-6 w-6 mr-2">
                    <h2 class="text-lg font-semibold">Home</h2>
                </a>
                <a href="/search" class="flex items-center text-white mr-4">
                    <img src="/assets/icon/nav/search.svg" alt="SEARCH" class="h-6 w-6 mr-2">
                    <h2 class="text-lg font-semibold">Search</h2>
                </a>
            </div>
            <% if(isAuth){ %>
                <div class="flex items-center flex-col">
                    <a href="/notifications" class="flex items-center text-white mr-4">
                        <img src="/assets/icon/nav/notification.svg" alt="NOTIFICATION" class="h-6 w-6 mr-2">
                        <h2 class="text-lg font-semibold">Notifications</h2>
                    </a>
                    <a href="/messages" class="flex items-center text-white mr-4">
                        <img src="/assets/icon/nav/mail.svg" alt="MESSAGE" class="h-6 w-6 mr-2">
                        <h2 class="text-lg font-semibold">Messages</h2>
                    </a>
                    <a href="/profile" class="flex items-center text-white mr-4">
                        <img src="/assets/icon/nav/user.svg" alt="USER" class="h-6 w-6 mr-2">
                        <h2 class="text-lg font-semibold">Profile</h2>
                    </a>
                    <a href="/logout" class="flex items-center text-white">
                        <img src="/assets/icon/utils/logout.svg" alt="LOGOUT" class="h-6 w-6 mr-2">
                        <h2 class="text-lg font-semibold">Logout</h2>
                    </a>
                </div>
            <% } else{%>
                <div class="flex items-center flex-col">
                    <a href="/login" class="flex items-center text-white">
                        <img src="/assets/icon/utils/login.svg" alt="LOGIN" class="h-6 w-6 mr-2">
                        <h2 class="text-lg font-semibold">Login</h2>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
<%- include("includes/end.ejs") %>
