<%- include("includes/base.ejs") %> <%- include("includes/header.ejs") %>
    <!-- BOX HOME -->
  <div class="">
    <!-- Story BOx -->
    <div></div>
    <!-- posts Box -->
    <div></div>
  </div>
  <!-- Directs BOx -->
  <div class="border-l border-[#28282a]"></div>
<%- include("includes/end.ejs") %>
