<%- include("includes/base.ejs") %> <%- include("includes/header.ejs") %>
    <!-- BOX HOME -->
  <div class="grid grid-rows-home">
    <!-- Story BOx -->
    <div class="bg-red-700"></div>
    <!-- posts Box -->
    <div class="bg-green-600"></div>
  </div>
  <!-- Directs BOx -->
  <div class="border-l border-[#28282a]"></div>
<%- include("includes/end.ejs") %>
