<%- include("includes/base.ejs") %> <%- include("includes/header.ejs") %>
    <!-- BOX HOME -->
  <div class="grid grid-rows-home">
    <!-- Wrapper Story -->
    <div class="bg-red-700">
      <!-- Story Box -->
      <div></div>
    </div>
    <!-- Wrapper Posts -->
    <div class="bg-green-600"></div>
  </div>
  <!-- Wrapper Directs -->
  <div class="border-l border-[#28282a]"></div>
<%- include("includes/end.ejs") %>
