<%- include("includes/base.ejs") %>
<link rel="stylesheet" href="/css/home.css">
<%- include("includes/header.ejs") %>
    <div class="wrapper__home-container">
        <div class="bg-red-600"></div>
        <div class="bg-green-600"></div>
        <div class="bg-blue-600">
            <div>
                <img src="/assets/icon/nav/home.svg" alt="HOME">
            </div>
            <div>
                <img src="/assets/icon/nav/search.svg" alt="SEARCH">
            </div>
            <% if(isAuth){ %>
                <div>
                    <img src="/assets/icon/nav/notification.svg" alt="NOTIFICATION">
                </div>
                <div>
                    <img src="/assets/icon/nav/mail.svg" alt="MESSAGE">
                </div>
                <div>
                    <img src="/assets/icon/nav/user.svg" alt="USER">
                </div>
                <div>
                    <img src="/assets/icon/utils/logout.svg" alt="LOGOUT">
                </div>
            <% } else{%>
                <div>
                    <img src="/assets/icon/utils/login.svg" alt="LOGIN">
                </div>
            <% } %>
        </div>
    </div>
<%- include("includes/end.ejs") %>
