<%- include("includes/base.ejs") %> <%- include("includes/header.ejs") %>
    <!-- BOX HOME -->
  <div class="grid grid-rows-home">
    <!-- Wrapper Story -->
    <div class="flex justify-start items-center w-full h-full px-4 py-3 border-b border-gray-300">
      <!-- Story Box -->
      <div class="px-2 h-full flex justify-between items-center flex-col">
        <div class="bg-gradient-to-tr from-purple-500 to-indigo-500 rounded-full w-16 h-16 flex justify-center items-center border-4 border-white">
          <!-- Add an icon or image for the story -->
          <svg class="w-10 h-10 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <!-- Add your SVG path for the story icon -->
          </svg>
        </div>
        <h1 class="mt-1 text-sm font-semibold text-gray-800">Add Story</h1>
      </div>
    </div>
    <!-- Wrapper Posts -->
    <div class=""></div>
  </div>
  <!-- Wrapper Directs -->
  <div class="border-l border-[#28282a]"></div>
<%- include("includes/end.ejs") %>
