@tailwind utilities;
@layer utilities {
  .header__navigation-link {
    @apply flex items-center text-white mobile:p-0 tablet:p-1 rounded-md justify-start w-full;
  }
  .header__navigation-info-user {
    @apply tablet:text-lg mobile:text-sm font-bold mobile:font-Aktiv__medium;
  }
  .header__navigation-info-user i {
    @apply mobile:font-Aktiv__medium font-bold;
  }
  .header__navigation-info-user-text {
    @apply mobile:text-sm;
  }
  .header__navigation-bg {
    @apply bg-gradient-to-b from-[#0F141E] via-[#1D1F26] to-[#0F141E];
  }
  .header__navigation-bg-transparent {
    @apply bg-gradient-to-b from-transparent via-transparent to-transparent;
  }
  /* Define animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Apply animation to SVG */
  .animate-spin {
    animation: spin 6s linear infinite;
  }

  /* Pause animation on hover */
  .animate-spin-hover:hover {
    animation-play-state: paused;
  }

}
