.header__navigation {
  background-color: #1b1b1c;
  margin-top: 2rem;
}
.header__navigation a {
  padding: 4px;
}
.header__navigation a:hover {
  filter: brightness(70%);
}
.header__navigation a:hover img {
  filter: brightness(70%);
}
.images__icons-nav {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}
