.header__navigation {
  margin-top: 2rem;
}
.header__navigation a {
  padding: 4px;
}
.header__navigation a:hover {
  filter: brightness(70%);
}
.header__navigation a:hover img {
  filter: brightness(70%);
}
.images__icons-nav {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
