.header__navigation {
  margin-top: 2rem;
}
.header__navigation a:hover img {
  filter: brightness(70%);
}
.images__icons-nav {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

