.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 300px) {
  .container {
    max-width: 300px;
  }
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1050px) {
  .container {
    max-width: 1050px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
