.mt-2 {
  margin-top: 0.5rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-6 {
  margin-top: 1.5rem
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.h-12 {
  height: 3rem
}

.h-32 {
  height: 8rem
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.h-6 {
  height: 1.5rem
}

.w-32 {
  width: 8rem
}

.w-52 {
  width: 13rem
}

.w-6 {
  width: 1.5rem
}

.grid-cols-container {
  grid-template-columns: 25% minmax(75%, 1fr);
}

.flex-col {
  flex-direction: column
}

.items-start {
  align-items: flex-start
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.gap-8 {
  gap: 2rem
}

.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse))
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 0.5rem
}

.border-4 {
  border-width: 4px
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.bg-\[\#1DA1F2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(29 161 242 / var(--tw-bg-opacity))
}

.bg-\[\#2895F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(40 149 240 / var(--tw-bg-opacity))
}

.bg-\[\#3BA9FE\] {
  --tw-bg-opacity: 1;
  background-color: rgb(59 169 254 / var(--tw-bg-opacity))
}

.bg-\[\#41b9ff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(65 185 255 / var(--tw-bg-opacity))
}

.bg-\[\#47B3FD\] {
  --tw-bg-opacity: 1;
  background-color: rgb(71 179 253 / var(--tw-bg-opacity))
}

.bg-\[\#54BFFF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(84 191 255 / var(--tw-bg-opacity))
}

.bg-\[\#6AC6FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(106 198 255 / var(--tw-bg-opacity))
}

.bg-body {
  --tw-bg-opacity: 1;
  background-color: rgb(16 16 17 / var(--tw-bg-opacity))
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-purple-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(168 85 247 / var(--tw-bg-opacity))
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}

.bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.p-8 {
  padding: 2rem
}

.p-2 {
  padding: 0.5rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.text-center {
  text-align: center
}

.font-Aktiv__regular {
  font-family: Aktiv-Regular
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.text-\[\#4ab4fa\] {
  --tw-text-opacity: 1;
  color: rgb(74 180 250 / var(--tw-text-opacity))
}

.text-purple-800 {
  --tw-text-opacity: 1;
  color: rgb(107 33 168 / var(--tw-text-opacity))
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.header__navigation-link {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
