<!-- info user -->
<div id="userInfo" class="flex gap-8 mt-6 items-center">
    <!-- Posts -->
    <div id="posts" class="text-center text-white rounded-lg p-4">
        <span class="text-lg font-bold">300</span>
        <p class="text-sm">Posts</p>
    </div>
    <!-- Followers -->
    <div id="followers" class="text-center text-white rounded-lg p-4">
        <span class="text-lg font-bold">182K</span>
        <p class="text-sm">Followers</p>
    </div>
    <!-- Following -->
    <div id="following" class="text-center text-white rounded-lg p-4">
        <span class="text-lg font-bold">1.04M</span>
        <p class="text-sm">Following</p>
    </div>
</div>