<!-- info user -->
<div id="userInfo" class="flex gap-8 mt-6 items-center mobile:mt-1 mobile:gap-0">
    <!-- Posts -->
    <div id="posts" class="text-center text-white rounded-lg p-4 mobile:p-2">
        <span class="text-lg mobile:text-sm font-bold mobile:font-Aktiv__bold">300</span>
        <p class="text-sm">Posts</p>
    </div>
    <!-- Followers -->
    <div id="followers" class="text-center text-white rounded-lg p-4 mobile:p-2">
        <span class="text-lg mobile:text-sm font-bold mobile:font-Aktiv__bold">182K</span>
        <p class="text-sm">Followers</p>
    </div>
    <!-- Following -->
    <div id="following" class="text-center text-white rounded-lg p-4 mobile:p-2">
        <span class="text-lg mobile:text-sm font-bold mobile:font-Aktiv__bold">1.04M</span>
        <p class="text-sm">Following</p>
    </div>
</div>