<!-- info user -->
<div id="userInfo" class="flex gap-8 mt-6 items-center mobile:mt-1 mobile:gap-0">
    <!-- Posts -->
    <div id="posts" class="text-center text-white rounded-lg p-4 mobile:p-1">
        <span class="header__navigation-info-user">300</span>
        <p class="header__navigation-info-user-text">Posts</p>
    </div>
    <!-- Followers -->
    <div id="followers" class="text-center text-white rounded-lg p-4 mobile:p-2">
        <span class="header__navigation-info-user">182K</span>
        <p class="header__navigation-info-user-text">Followers</p>
    </div>
    <!-- Following -->
    <div id="following" class="text-center text-white rounded-lg p-4 mobile:p-2">
        <span class="header__navigation-info-user">1.04M</span>
        <p class="header__navigation-info-user-text">Following</p>
    </div>
</div>