<a href="/<%= url %>" class="header__navigation-link flex items-center space-x-4 transition duration-300 transform hover:scale-105">
    <img src="/assets/icon/nav/<%= url %>.svg" alt="<%= url %>" class=" images__icons-nav">
    <h2 class="text-lg font-semibold text-white capitalize"><%= url %></h2>
</a>