<a href="/<%= url %>" class="header__navigation-link flex items-center space-x-4 mobile:space-x-2 smallTb:space-x-3 transition duration-300 transform hover:scale-105">
    <img src="/assets/icon/nav/<%= url %>.svg" alt="<%= url %>" class="tablet:images__icons-nav mobile:w-4 mobile:h-4 smallTb:w-8 smallTb:h-8">
    <h2 class="text-lg font-semibold text-white capitalize mobile:text-base smallTb:text-lg"><%= url %></h2>
</a>