<!-- Profile User Default -->
<div class="flex flex-col items-center mt-4">
    <img id="profilePic" src="/assets/images/profilePic.png" alt="Profile Picture" class="w-32 h-32 mobile:w-12 mobile:h-12 rounded-full border-4 mobile:border border-white">
    <!-- User Name -->
    <h2 id="username" class="font-Aktiv__regular text-xl mobile:text-xs mt-4 mobile:mt-2 text-white">m__mdy__m</h2>
    <!-- Bio -->
    <p id="bio" class="text-center mt-2 text-gray-400 mobile:text-sm overflow-hidden whitespace-nowrap overflow-ellipsis">'Greatness، of small steps'!</p>
</div>