<!-- Profile User Default -->
<div class="flex flex-col items-center mt-4"  id="profileSection">
    <div class="flex justify-center items-center relative ">
        <img src="/assets/icon/profile-utils/welcome.png" alt="welcome" class="absolute top-0" id="welcome-user">
        <img id="profilePic" src="/assets/images/profilePic.png" alt="Profile Picture" class="tablet:w-32 tablet:h-32 mobile:w-24 mobile:h-24 smallTb:w-20 smallTb:h-20 rounded-full border-4 mobile:border border-white">
    </div>
    <!-- User Name -->
    <h2 id="username" class="font-Aktiv__regular tablet:text-xl mobile:text-base mt-4 mobile:mt-2 smallTb:text-lg smallTb:mt-3 text-white">m__mdy__m</h2>
    <!-- Bio -->
    <p id="bio" class="text-center mt-2 text-gray-400 mobile:text-sm smallTb:text-base overflow-hidden whitespace-nowrap overflow-ellipsis">'Greatness، of small steps'!</p>
</div>